<ion-view view-title="Rate Your Deals">
    <ion-content>
        <div class="list card padding-top card-background-food ">
            <div class="item item-body padding ">
                <div class="row">
                    <div class="col col-center">
                        <i class="icon ion-ribbon-b custom-icon"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Woodland 25% off</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding">
                <div class="row">
                    <div class="col col-center">
                        <i class="custom-icon icon ion-ribbon-b"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Addidas 60% off summer sale</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding ">
                <div class="row">
                    <div class="col col-center">
                        <i class="icon ion-ribbon-b custom-icon"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Lee end of season sale</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding">
                <div class="row">
                    <div class="col col-center">
                        <i class="custom-icon icon ion-ribbon-b"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding ">
                <div class="row">
                    <div class="col col-center">
                        <i class="icon ion-ribbon-b custom-icon"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding">
                <div class="row">
                    <div class="col col-center">
                        <i class="custom-icon icon ion-ribbon-b"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding ">
                <div class="row">
                    <div class="col col-center">
                        <i class="icon ion-ribbon-b custom-icon"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding">
                <div class="row">
                    <div class="col col-center">
                        <i class="custom-icon icon ion-ribbon-b"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding ">
                <div class="row">
                    <div class="col col-center">
                        <i class="icon ion-ribbon-b custom-icon"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-body padding">
                <div class="row">
                    <div class="col col-center">
                        <i class="custom-icon icon ion-ribbon-b"><span class="fix-editor">&nbsp;</span></i>
                    </div>
                    <div class="col col-75">
                        <p class="row">Winter Bonanza at zara</p>
                        <div class="row">
                            <a href="#" class="subdued">16 <i class="icon ion-happy"></i></a>
                            <a href="#" class="subdued">8 <i class="icon ion-sad"></i></a>
                            <a href="#" class="subdued">share <i class="icon ion-social-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
